<div class="row">
    <div class="col-md-6 col-md-offset-1 ">
        <div class="row">
            <div class="col-md-10">
                <div class="table-responsive" ng-repeat='group in getGroups()'>
                    <table class="table table-striped table-hover table-bordered table-condensed">
                        <caption class="bs-info text-left padding-5px">
                            <div class=""><h4><b>
                                <span class="paddingRight10">Ausgabentyp: </span>
                                <span class="" ng-bind="findAusgabezeitraumById(group)"></span></b></h4></div>
                        </caption>
                        <thead>
                        <tr>
                            <th class="col-md-1">#</th>
                            <th class="col-md-4">Name</th>
                            <th class="col-md-3">Preis</th>
                            <th class="col-md-4">Zuletzt bearbeitet</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ausgabe in Ausgaben | groupby:group">
                            <td>{{$index+1}}</td>
                            <td> {{ausgabe.Name}}</td>
                            <td>{{ausgabe.Preis}}</td>
                            <td>{{ toDate(ausgabe.LastModified) }}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                            </th>
                            <th>
                                Gesamtausgaben
                            </th>
                            <th>
                                <span ng-bind="getGroupSum(group)"></span>
                            </th>
                            <th>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="bs-info padding-5px">
                    <h4><b>
                        <span class="paddingRight10">Gesamtausgaben: </span>
                        <span class="paddingRight10" ng-bind="gesamtAusgaben()"></span>
                    </b></h4>
                </div>
            </div>
        </div>
    </div>
</div>