<div class="row">
    <div class="col-md-12 col-md-offset-1 ">
        <div class="row">
            <div class="col-md-10" ng-repeat='group in getGroups()'>
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                        <caption class="bs-info text-left padding-10px">
                            <h4>
                                <b>
                                    <span class="">Ausgabentyp: {{ findAusgabezeitraumById(group) }}</span>
                                </b>
                            </h4>
                        </caption>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Preis</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ausgabe in Ausgaben | groupby:group">
                            <td>{{$index+1}}</td>
                            <td> {{ausgabe.Name}}</td>
                            <td>{{ausgabe.Preis}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-euro"></span>
                            </td>
                            <td>
                            <span>
                            <h4>
                                <b>Gesamtausgaben</b>
                            </h4>
                            </span>
                            </td>
                            <td>

                                <span> <h4><b> {{ getGroupSum(group) }} </b></h4> </span>

                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="bs-info bs-callout col-md-10">
                <h4><b>
                    <span class="glyphicon glyphicon-euro"></span><span>Gesamtausgaben: </span> <span>{{ gesamtAusgaben() }}</span>
                </b></h4>
            </div>
        </div>

    </div>
</div>