<link href='../calendarJs/fullcalendar.css' rel='stylesheet'/>
<link href='../calendarJs/fullcalendar.print.css' rel='stylesheet' media='print'/>
<script src='../calendarJs/fullcalendar.min.js'></script>
<script src='../calendarJs/lang-all.js'></script>
<div class="row">
    <div class="col-md-12">
        <div class="panel bs-info list-group-item ">
            <div>
                <a class="paddingRight10 noDecoration" ng-click="addEvent()">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span> Favorite</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    <div class="fullcalendar" id="calendar"></div>
    </div>
</div>
