<div class="row">
    <div class="col-md-12">
        <div class="row" ng-show="userEvents.length == 0">
            <div class="col-md-12">
                <div class="bs-info list-group-item">
                    <p>

                    <h3>
                        <span class="glyphicon glyphicon-thumbs-down"></span><span>  You actually don't have any Event.</span></br></br>
                        Click <a ng-click="manageEvent('','new',null)">here</a> to add a new Event.
                        </span>
                    </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="row margin-top-10px">
            <div class="col-md-12">
                <div class="bs-info list-group-item">
                    <h4>
                        <b>
                            <a class="paddingRight10 noDecoration"
                               ng-click="manageEvent('','new',null)">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span> Event</span>
                            </a>
                        </b>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row" ng-show="userEvents.length > 0">
            <div class="col-md-12">
                <div class="form-horizontal bs-callout bs-info" role="form">
                    <div class="form-group">
                        <h4 class="col-md-2">
                            <b><span class="glyphicon glyphicon-search"></span> <span>Suche:</span></b>
                        </h4>

                        <div class="col-md-5">
                            <input class="form-control" ng-model="query" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <h4 class="col-md-2">
                            <b><span>Sortieren:</span></b>
                        </h4>

                        <div class="col-md-5">
                            <select class="form-control" ng-model="orderProp">
                                <option value="Titel">Titel</option>
                                <option value="Beschreibung">Beschreibung</option>
                                <option value="Start">Start</option>
                                <option value="Ende">Ende</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row" ng-show="userEvents.length > 0">
            <div class="col-md-12" id="main">
                <div class="panel-group "
                     ng-repeat="userEvent in userEvents | filter:query | orderBy: orderProp">
                    <div class="panel panel-primary">
                        <div class="panel-heading ">
                            <div class="row">
                                <div class="col-md-9 pull-left">
                                            <span data-toggle="collapse" class="showCursor"
                                                  data-parent="#ausgabenAccordion"
                                                  href="#acc{{userEvent.ID}}">
                                                <h4>
                                                    <b>
                                            <span
                                                    class="indicator glyphicon glyphicon-chevron-right pull-left white paddingRight10">
                                                </span>
                                                <span class="white">
                                                {{userEvent.Titel}} ({{userEvent.ID}})</span>
                                                    </b>
                                                </h4>
                                            </span>

                                </div>
                                <div class="col-md-3 pull-right">
                                    <h4 class="pull-right">
                                        <b>
                                            <a>
                                                <span class="glyphicon glyphicon-pencil paddingRight10 white"
                                                      ng-click="manageEvent('','edit',userEvent)"></span>
                                            </a>
                                            <a>
                                                <span class="glyphicon glyphicon-trash paddingRight10 white"
                                                      ng-click="manageEvent('','delete',userEvent)"></span>
                                            </a>
                                        </b>
                                    </h4>

                                </div>
                            </div>
                        </div>
                        <div id="acc{{userEvent.ID}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <h4 class="col-sm-3">
                                            <span class=" label label-primary">Beschreibung:</span>
                                        </h4>

                                        <div class="col-sm-9">
                                            <span class="form-control">{{ userEvent.Beschreibung }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h4 class="col-sm-3">
                                            <span class="label label-primary">Start:</span>
                                        </h4>

                                        <div class="col-sm-9">
                                            <span class="form-control">{{ formatNormalizeDate(userEvent.Start,'DD.MM.YYYY HH:mm:ss') }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h4 class="col-sm-3">
                                            <span class=" label label-primary">Ende:</span>
                                        </h4>

                                        <div class="col-sm-9">
                                            <span class="form-control">{{ formatNormalizeDate(userEvent.Ende,'DD.MM.YYYY HH:mm:ss') }}</span>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>