<div class="row" ng-show="$root.isUserLoggedIn">
    <div class="col-md-3">
        <div class="panel-group">
            <h4>
                <b>
                    <div class="panel bs-info list-group-item">
                        <div>
                            <a class="paddingRight10 nodecoration" ng-click="manageFile(null,null,'new')">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span> Datei</span>
                            </a>
                        </div>
                    </div>
                    <div ng-repeat="file in Files" class="panel panel-primary list-group-item">
                        <div class="pull-left ">
                            <span class="showCursor active" ng-click="loadFile(file)">{{ file.FileName }}</span>
                        </div>
                        <div class="pull-right  ">
                            <a class="paddingRight10  ">
                                <span class="glyphicon glyphicon-pencil "
                                      ng-click="manageFile(null,file,'edit')"></span>
                            </a>
                            <a class="paddingRight10 ">
                                <span class="glyphicon glyphicon-trash "
                                      ng-click="manageFile(null,file,'delete')"></span>
                            </a>
                        </div>
                    </div>
                </b>
            </h4>
        </div>
    </div>
</div>