<script type="application/javascript">
    $(".social").hover(function () {
        var value = $(this).attr("href");
        value = value.replace("mailto:", "");
        $(".social-links > h3").text(value).show();
    }, function () {
        $(".social-links > h3").text("").hide();
    });
</script>
<div class="row">
    <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12 " id="social">
        <div class="social-links">
            <a class="social" href="https://twitter.com/realhoffi">
                <img src="http://alexpeattie.com/images/hero/twitter.png">
            </a>
            <a class="social" href="https://github.com/realhoffi">
                <img src="http://alexpeattie.com/images/hero/github.png">
            </a>
            <a class="social" data-email="florian.hoffmann1983@googlemail.com"
               href="mailto:florian.hoffmann1983@googlemail.com">
                <img src="http://alexpeattie.com/images/hero/email.png">
            </a>
            <a class="social" href="https://www.facebook.com/Florian.hoffmann1983">
                <span class="cirecled">f</span>
            </a>
            <!--<a-->
            <!--class="social" href="http://stackoverflow.com/u/784858">-->
            <!--<img src="http://alexpeattie.com/images/hero/stackexchange.png"></a>-->

            <h3>
            </h3>
        </div>
    </div>
</div>