<div class="modal-header">
    <h2 class="modal-title text-center">LOGIN</h2>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="text-center form-horizontal"><h3><label>E-Mail oder UserId:</label>
            </h3></div>
            <div>
                <input class="form-control" ng-model="item.name">
            </div>
        </div>
    </form>

    {{ item.name }}
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
