<div class="row" id="mynotes">
    <div class="col-md-12 col-sm-12 col-xs-12" ng-right-click="addNote()">
        <div class="row ">
            <div class="bs-info padding-left-10px hidden-xs hidden-sm">
            <h3>
                    <ul class="list-unstyled">
                        <li>
                            <span>To add a new Note, simply right click anywhere</span>
                        </li>
                        <li><span>To edit a note, double click a note</span></li>
                    </ul>

                </h3>
            </div>
        </div>
        <div class="row hidden-md hidden-lg">
            <div class="bs-info padding-left-10px margin-top-10px">
                <h4>
                    <b>
                        <a class="paddingRight10 noDecoration"
                           ng-click="addNote()">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span> Note</span>
                        </a>
                    </b>
                </h4>
            </div>

        </div>
        <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 bs-info padding-10px  margin-top-10px"
                 ng-dblclick="editNote(note)" ng-repeat="note in notes">
                <div class="row">
                    <div class="col-md-12 col-xs-10 col-sm-10">
                        <span ng-if="!note.edit">{{ note.name }}</span>
                        <textarea cols="30" rows="5" type="text" maxlength="255" class="form-control"
                                  ng-show="note.edit" style="width:100%;"
                                  focus-on-visibility ng-model="note.name"></textarea>
                    </div>
                    <div class="hidden-sm hidden-lg col-xs-2 col-sm-2">

                        <a class=""><strong>
                                <span class="glyphicon glyphicon-pencil "
                                      ng-click="editNote(note)">
                                      </span></strong>
                        </a>
                        <a class="">
                            <strong>
                                <span class="glyphicon glyphicon-trash " ng-click="deleteNote(note)">
                                      </span>
                            </strong>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
