<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 padding-top-5px panel-primary panel padding-10px padding-left-20px">
        <div class="row ">
            <div class="col-md-12">
                <h2><strong><span> GET YOUR PERSONAL DESKTOP</span></strong></h2></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled">
                    <li><h3><strong><span class=" list-group-item-success glyphicon glyphicon-ok"></span><span>  Free, no costs :)</span></strong>
                    </h3></li>
                    <li><h3><strong><span class=" list-group-item-success glyphicon  glyphicon-ok"></span><span>  One
                        Desktop for everything</span></strong></h3></li>
                    <li><h3><strong><span class=" list-group-item-success glyphicon glyphicon-ok"></span><span> Access from
                        everywhere</span></strong></h3>
                    </li>
                    <li><h3><strong><span class=" list-group-item-success glyphicon glyphicon-ok"></span><span>  Use multiple Services</span></strong>
                    </h3></li>
                    <li><h3><strong><span class=" list-group-item-success glyphicon glyphicon-ok"></span><span>  Mobile optimized</span></strong>
                    </h3></li>
                    <li><h3><strong><span class=" list-group-item-success glyphicon glyphicon-ok"></span><span>  Growing Plattform</span></strong>
                    </h3></li>
                </ul>
            </div>
        </div>
    </div>
</div>