<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 padding-top-5px  padding-left-20px"
         style="background: none repeat scroll 0% 0% #5DADE2;">
        <div class="row" style="border-bottom: 2px white solid">
            <div class="col-md-12">
                <h2><strong><span style="color: white"> GET YOUR PERSONAL DESKTOP</span></strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled">
                    <li style="color: white"><h3><strong><span class="  glyphicon glyphicon-ok"></span><span
                            >  Free, no costs :)</span></strong>
                    </h3></li>
                    <li style="color: white"><h3><strong><span class=" glyphicon  glyphicon-ok"></span><span
                            >  One
                        Desktop for everything</span></strong></h3></li>
                    <li style="color: white"><h3><strong><span class="  glyphicon glyphicon-ok"></span><span
                            > Access from
                        everywhere</span></strong></h3>
                    </li>
                    <li style="color: white"><h3><strong><span class="  glyphicon glyphicon-ok"></span><span
                            >  Use multiple Services</span></strong>
                    </h3></li>
                    <li style="color: white"><h3><strong><span class=" glyphicon glyphicon-ok"></span><span
                            >  Mobile optimized</span></strong>
                    </h3></li>
                    <li style="color: white"><h3><strong><span class=" glyphicon glyphicon-ok"></span><span
                            >  Growing Plattform</span></strong>
                    </h3></li>
                </ul>
            </div>
        </div>
    </div>
</div>