<div>
    <form class="form-horizontal" role="form" name="form">
        <div class="modal-header">
            <h2 class="modal-title text-center"><span> Change your User-Details</span></h2>
        </div>
        <div class="modal-body">

            <div class="form-group required ">
                <h4 class="col-md-3"><span class="label label-primary control-label">UserId:</span>
                </h4>

                <div class="col-md-9">
                    <span class="form-control" required><b>{{ currentUser.UserId }}</b></span>
                </div>
            </div>
            <div class="form-group required">
                <h4 class="col-md-3"><span class="label label-primary control-label">Email:</span>
                </h4>

                <div class="col-md-9">
                    <input class="form-control" required ng-model="currentUser.Email">
                </div>
            </div>
            <div class="form-group required">
                <h4 class="col-md-3"><span class="label label-primary control-label">First-Name:</span>
                </h4>

                <div class="col-md-9">
                    <input class="form-control" required ng-model="currentUser.Vorname">
                </div>
            </div>
            <div class="form-group required">
                <h4 class="col-md-3"><span class="label label-primary control-label">Last-Name:</span>
                </h4>

                <div class="col-md-9">
                    <input class="form-control" required ng-model="currentUser.Nachname">
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="btn-group-vertical btn-group-justified ">
                <div class="pull-left">
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ok($event)">Save</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>