.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    border-color: #428bca;
}

.noDecoration {
    text-decoration: none !important;
}

.controlMaxSize {
    width: 100%;
}

.bs-info {
    border-color: #F0AD4E;
    border-style: solid;
    border-width: 10px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-radius: 3px;
}

.bs-error {
    border-color: red;
    border-style: solid;
    border-width: 10px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-radius: 3px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0px;
}

.margin-top-10px {
    margin-top: 10px;
}

a {
    cursor: pointer;
}

.showCursor {
    cursor: pointer;
}

.paddingRight10 {
    padding-right: 10px;
}

.white {
    color: #ffffff;
}

.red {
    background-color: red !important;
    color: red !important;
    border: 2px red solid !important;
}

.form-group.required .control-label:after {
    content: "  *";
    color: red;

}

form input.ng-invalid.ng-dirty, form textarea.ng-invalid.ng-dirty, form select.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

/*form input.ng-valid.ng-dirty, form select.ng-valid.ng-dirty, form textarea.ng-valid.ng-dirty {*/
/*background-color: #78FA89;*/
/*}*/