.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    border-color: #428bca;
    /*#601187*/
}

.bg-nice {
    color: #440f5f !important;
    max-height: 60px !important;
    height: 60px !important;
    font-weight: bold;
}

.header-row {
    max-height: 50px !important;
    height: 50px !important;
    font-weight: bold;
}

.img-header {
    max-height: 60px;
    max-width: 60px;
}

.middle {
    vertical-align: middle !important;
    margin: 0 0 !important;
}

.noDecoration {
    text-decoration: none !important;
}

.controlMaxSize {
    width: 100%;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

/*#601187*/
.bs-info {
    border-color: #F0AD4E;
    border-style: solid;
    border-left-width: 15px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-radius: 3px;
}

.bs-error {
    border-color: red;
    border-style: solid;
    border-width: 10px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-radius: 3px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0px;
}

.margin-top-10px {
    margin-top: 15px;
}

.margin-5px {
    margin: 5px !important;
}

.margin-top-0 {
    margin-top: 0 !important;
}

.margin-top-20px {
    margin-top: 20px;
}

.padding-10px {
    padding: 10px;
}

.padding-5px {
    padding: 5px;
}

.padding-top-5px {
    padding-top: 5px;
}

.padding-left-20px {
    padding-left: 20px;
}

.padding-left-10px {
    padding-left: 10px;
}

a {
    cursor: pointer;
}

.showCursor {
    cursor: pointer;
}

.paddingRight10 {
    padding-right: 10px;
}

.menue-entry {
    font-size: 1.25em;
}

.sub-menue-entry {
    font-size: 1.1em;
}

.white {
    color: #ffffff;
}

.red {
    background-color: red !important;
    color: red !important;
    border: 2px red solid !important;
}

.form-group.required .control-label:after {
    content: "  *";
    color: red;

}

form input.ng-invalid.ng-dirty, form textarea.ng-invalid.ng-dirty, form select.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

/*form input.ng-valid.ng-dirty, form select.ng-valid.ng-dirty, form textarea.ng-valid.ng-dirty {*/
/*background-color: #78FA89;*/
/*}*/
#social {
    overflow: visible;
    text-align: center;
    background: none repeat scroll 0% 0% #5DADE2;
}

#social .social {
    width: 24%;
    display: inline-block;
    text-align: center;
    -moz-transition: opacity .5s ease;
    opacity: 0.5;
}

#social .social:hover {
    opacity: 0.9;
}

#social .social img {
    max-width: 100%;
}

#social .social-links {
    position: relative;
    min-height: 1px;
}

@media (min-width: 992px) {
    .social-links {
        float: left;
    }
}

.social-links {
    float: none;
    padding-top: 40px;
    padding-bottom: 40px;
    vertical-align: middle;
}

@media (min-width: 992px) {
    .social-links {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

#social h3 {
    color: #FFF;
    font-size: 30px;
    font-family: "Lato";
    /*line-height: 130%;*/
    margin-top: 40px;
    /*margin: 20px 0px;*/
    /*padding: 8px 0px 8px 10px;*/
    text-align: center;
    font-weight: 700;
    letter-spacing: 0px;
    display: none;
}

.cirecled {
    text-align: center;
    vertical-align: middle;
    color: white;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 900;
    font-size: 5em;
    border: 10px solid #FFFFFF;
    border-radius: 10%;
    min-height: 1px;
}
