<!DOCTYPE html>
<html ng-app="ausgabenmanager">
<head lang="de">
    <title>MyDesk</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon"/>
    <!--<link rel="icon" type="image/gif" href="../images/favicon4.gif" />-->
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="../appCss/appCss.css" type="text/css" rel="stylesheet">
    <link href="../appCss/loadingAnimation.css" type="text/css" rel="stylesheet">
    <script src="../js/jquery-1.11.0.min.js" type="application/javascript"></script>
    <script src="../js/bootstrap.js" type="application/javascript"></script>
    <script src="../js/angular.js" type="application/javascript"></script>
    <script src="../js/angular-route.js" type="application/javascript"></script>
    <script src="../js/ui-bootstrap-tpls-0.11.0.js" type="application/javascript"></script>

    <script src="../angular/filedownload.js" type="application/javascript"></script>
    <script src="../angular/spinner.js" type="application/javascript"></script>
    <script src="../angular/appHelper.js" type="application/javascript"></script>
    <script src="../angular/app.js" type="application/javascript"></script>
    <script src="../angular/directives.js" type="application/javascript"></script>
    <script src="../angular/controllers.js" type="application/javascript"></script>
    <script src="../angular/modalcontroller.js" type="application/javascript"></script>
    <script src="../angular/services.js" type="application/javascript"></script>

</head>
<body>
<div class="page-header margin-top-0">
    <div class="container-fluid" ng-controller="userCtrl">
        <div class="row">
            <div class="bg-nice col-md-2 col-sm-2 col-xs-2">
                <a href="#">
                    <img class="img-header padding-top-5px"
                         src="../images/identityImage.png"/></a>
            </div>
            <div class="bg-nice col-md-7 col-sm-10 col-xs-10">
                <h1 class="text-center">
                    <a class="noDecoration bg-nice" href="#">
                    <span>
                            <strong>MyDesk
                                <small> Your personal
                                    Desktop
                                </small>
                            </strong>

                       </span>
                    </a>
                </h1>
            </div>
            <div class="bg-nice col-md-3 hidden-sm hidden-xs">
                <div class="text-right margin-top-10px">

                    <button class="btn btn-primary " ng-click="editUser()" ng-if="isUserLoggedIn()">
                        <b><span class="glyphicon glyphicon-cog"></span> <span>Settings</span></b>
                    </button>
                    <button class="btn btn-primary " ng-if="!isUserLoggedIn()" ng-click="loginModal()">
                        <b> <span
                                class="glyphicon glyphicon-user"></span> <span>Sign in</span></b>
                    </button>
                    <button class="btn btn-primary " ng-click="logout()" ng-if="isUserLoggedIn()">
                        <b><span class="glyphicon glyphicon-off"></span> <span>Logout</span></b>
                    </button>

                </div>
            </div>
        </div>
        <div class="row hidden-lg hidden-md">
            <div class="col-sm-12 col-xs-12 margin-top-10px">
                <h1>
                    <div ng-controller="menueController"
                         class="header-row hidden-lg hidden-md pull-left top text-left">
                        <a ng-click="renderMenue()">
                            <b><span class="glyphicon glyphicon-list"></span></b>
                        </a>
                    </div>
                    <div class="pull-right top text-right header-row">
                        <button class="btn btn-primary " ng-click="editUser()" ng-if="isUserLoggedIn()">
                            <b><span class="glyphicon glyphicon-cog"></span> <span>Settings</span></b>
                        </button>
                        <button class="btn btn-primary " ng-if="!isUserLoggedIn()" ng-click="loginModal()">
                            <b> <span
                                    class="glyphicon glyphicon-user"></span> <span>Sign in</span></b>
                        </button>
                        <button class="btn btn-primary " ng-click="logout()" ng-if="isUserLoggedIn()">
                            <b><span class="glyphicon glyphicon-off"></span> <span>Logout</span></b>
                        </button>
                    </div>
                </h1>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid" id="mainForm">
    <div page-Initialize></div>
    <div class="row" id="contentForm" ng-if="!isAppLoading && $root.isUserLoggedIn">
        <div class="col-md-3 hidden-sm hidden-xs" id="navbarContent">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-success">
                        <a class="list-group-item active" href="#">
                            <b> <span class="glyphicon glyphicon-home"></span> <span> Home</span></b>
                        </a>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-success">
                        <a class="list-group-item active">
                            <b> <span class="glyphicon glyphicon-user"></span> <span>Ausgabenmanager</span></b>
                        </a>
                        <a href="#ausgabenOverview" class="list-group-item">
                            <span class="glyphicon "></span> Ausgabenübersicht
                        </a>
                        <a href="#ausgabenBericht" class="list-group-item">
                            <span class="glyphicon "></span> Kostenaufstellung
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-success">
                        <a class="list-group-item active">
                            <b> <span class="glyphicon glyphicon-star"></span> <span> Favoriten</span></b>
                        </a>
                        <a href="#favoritenOverview" class="list-group-item">
                            <span class="glyphicon "></span> Meine Favoriten
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-success">
                        <a class="list-group-item active">
                            <b> <span class="glyphicon glyphicon-user"></span> <span> Dateien</span></b>
                        </a>
                        <a href="#fileOverview" class="list-group-item">
                            <span class="glyphicon "></span> Meine Dateien
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9 col-sm-12 col-xs-12" id="content" ng-if="$root.isUserLoggedIn">
            <div ng-view></div>
        </div>
    </div>
    <div class="row" id="contentNoLogIn" ng-if="!isAppLoading && !$root.isUserLoggedIn">
        <div class="col-md-12">
            <div class="bs-callout bs-info">
                <p>

                <h2>
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                    <span>  Um diese Funktionen nutzen zu können, melden Sie sich bitte an...</span>
                </h2>
                </p>
            </div>
        </div>
    </div>
    <div class="row" id="footer">
        <div class="panel-footer">
            <!--<div class="col-md-12 alert alert-info" ng-include="'../partials/userdetails.html'"></div>-->
        </div>
    </div>
</div>
</body>
</html>