<!DOCTYPE html>
<html ng-app="ausgabenmanager">
<head lang="de">
    <title>MyDesk</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon"/>
    <!--<link rel="icon" type="image/gif" href="../images/favicon4.gif" />-->
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="../appCss/appCss.css" type="text/css" rel="stylesheet">
    <link href="../appCss/loadingAnimation.css" type="text/css" rel="stylesheet">
    <script src="../js/jquery-1.11.0.min.js" type="application/javascript"></script>
    <script src="../js/bootstrap.js" type="application/javascript"></script>
    <script src="../js/angular.js" type="application/javascript"></script>
    <script src="../js/angular-route.js" type="application/javascript"></script>
    <script src="../js/ui-bootstrap-tpls-0.11.0.js" type="application/javascript"></script>

    <script src="../angular/filedownload.js" type="application/javascript"></script>
    <script src="../angular/spinner.js" type="application/javascript"></script>
    <script src="../angular/appHelper.js" type="application/javascript"></script>
    <script src="../angular/app.js" type="application/javascript"></script>
    <script src="../angular/directives.js" type="application/javascript"></script>
    <script src="../angular/controllers.js" type="application/javascript"></script>
    <script src="../angular/modalcontroller.js" type="application/javascript"></script>
    <script src="../angular/services.js" type="application/javascript"></script>

</head>
<body>
<div class="page-header margin-top-0">
    <div class="container-fluid" ng-controller="userCtrl">
        <div class="row">
            <div class="bg-nice col-md-2 col-sm-4 col-xs-4">
                <a href="#" class="">
                    <img class="img-header padding-top-5px"
                         src="../images/identityImage.png"/>
                </a>
                <a class="top noDecoration bg-nice " href="#impressum"><span
                        class="glyphicon glyphicon-phone-alt"></span> <span class="hidden-sm hidden-xs">Contact</span>
                </a>
            </div>
            <div class="bg-nice col-md-7 col-sm-8 col-xs-8">
                <h1 class="text-center">
                    <a class="noDecoration bg-nice menue-entry" href="#">
                    <span>
                            <strong>MyDesk
                                <small class="hidden-xs"> Your personal
                                    Desktop
                                </small>
                            </strong>
                       </span>
                    </a>
                </h1>
            </div>
            <div class="bg-nice col-md-3 hidden-sm hidden-xs">
                <div class="text-right margin-top-10px">

                    <button class="btn btn-primary " ng-click="editUser()" ng-if="isUserLoggedIn()">
                        <b><span class="glyphicon glyphicon-cog"></span> <span>Settings</span></b>
                    </button>
                    <button class="btn btn-primary " ng-if="!isUserLoggedIn()" ng-click="loginModal()">
                        <b> <span
                                class="glyphicon glyphicon-user"></span> <span>Sign in</span></b>
                    </button>
                    <button class="btn btn-primary " ng-click="logout()" ng-if="isUserLoggedIn()">
                        <b><span class="glyphicon glyphicon-off"></span> <span>Logout</span></b>
                    </button>

                </div>
            </div>
        </div>
        <div class="row hidden-lg hidden-md">
            <div class="col-sm-12 col-xs-12 margin-top-10px">
                <h1>
                    <div ng-controller="menueController" ng-if="isUserLoggedIn()"
                         class="header-row hidden-lg hidden-md pull-left top text-left">
                        <a ng-click="renderMenue()">
                            <b><span class="glyphicon glyphicon-list"></span></b>
                        </a>
                    </div>
                    <div class="pull-right top text-right header-row">
                        <button class="btn btn-primary " ng-click="editUser()" ng-if="isUserLoggedIn()">
                            <b><span class="glyphicon glyphicon-cog"></span> <span>Settings</span></b>
                        </button>
                        <button class="btn btn-primary " ng-if="!isUserLoggedIn()" ng-click="loginModal()">
                            <b> <span
                                    class="glyphicon glyphicon-user"></span> <span>Sign in</span></b>
                        </button>
                        <button class="btn btn-primary " ng-click="logout()" ng-if="isUserLoggedIn()">
                            <b><span class="glyphicon glyphicon-off"></span> <span>Logout</span></b>
                        </button>
                    </div>
                </h1>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid" id="mainForm">
    <div page-Initialize></div>
    <div class="row" id="contentForm" ng-if="!isAppLoading && $root.isUserLoggedIn">
        <div class="col-md-3 hidden-sm hidden-xs" id="navbarContent">
            <generic-Link link="#" name="Home" iconClass="glyphicon glyphicon-home"></generic-Link>
            <generic-Link link="#calendar" name="My Calender" iconClass="glyphicon glyphicon-calendar"></generic-Link>
            <generic-Link link="#notes" name="My Notes" iconClass="glyphicon glyphicon-comment"></generic-Link>
            <generic-Link link="#favoritenOverview" name="My Favorites"
                          iconClass="glyphicon glyphicon-star-empty"></generic-Link>
            <generic-Link link="#fileOverview" name="My Files" iconClass="glyphicon glyphicon-paperclip"></generic-Link>
            <generic-Link link="#searchGoogle" name="Ask Google" iconClass="glyphicon glyphicon-search"></generic-Link>
            <generic-Link link="" name="Ausgabenmanager" iconClass="glyphicon glyphicon-briefcase">
                <generic-Link-Child name="Ausgabenübersicht" iconClass="glyphicon glyphicon-briefcase"
                                    link="#ausgabenOverview"></generic-Link-Child>
                <generic-Link-Child name="Kostenaufstellung" iconClass="glyphicon glyphicon-briefcase"
                                    link="#ausgabenBericht"></generic-Link-Child>
            </generic-Link>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12" id="content" ng-if="$root.isUserLoggedIn">
            <div ng-view></div>
        </div>
        <div class="row" id="contentNoLogIn" ng-if="!isAppLoading && !$root.isUserLoggedIn">
            <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                <div ng-include="'../partials/root.html'">
                </div>
            </div>
        </div>
    </div>
</body>
</html>