<!DOCTYPE html>
<html ng-app="ausgabenmanager">
<head lang="de">
    <title>Ausgabenmanager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon"/>
    <!--<link rel="icon" type="image/gif" href="../images/favicon4.gif" />-->
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="../appCss/appCss.css" type="text/css" rel="stylesheet">
    <link href="../appCss/loadingAnimation.css" type="text/css" rel="stylesheet">
    <script src="../js/jquery-1.11.0.min.js" type="application/javascript"></script>
    <script src="../js/bootstrap.js" type="application/javascript"></script>
    <script src="../js/angular.js" type="application/javascript"></script>
    <script src="../js/angular-route.js" type="application/javascript"></script>
    <script src="../js/ui-bootstrap-tpls-0.11.0.js" type="application/javascript"></script>

    <script src="../angular/filedownload.js" type="application/javascript"></script>
    <script src="../angular/spinner.js" type="application/javascript"></script>
    <script src="../angular/appHelper.js" type="application/javascript"></script>
    <script src="../angular/app.js" type="application/javascript"></script>
    <script src="../angular/controllers.js" type="application/javascript"></script>
    <script src="../angular/services.js" type="application/javascript"></script>

</head>
<body>
<div class="page-header margin-top-0">
    <div class="container-fluid">
        <div class="row">
            <div class="text-center col-md-9 ">
                <h1 class="">
                    <img class="img-header"
                         src="../images/identityImage.png"/>
                    <span class="padding-left-20px bg-nice">My Desk</span>
                </h1>
            </div>
            <div class="top col-md-3 text-center" ng-controller="userCtrl">
                <div class="btn-block margin-top-20px  ">
                    <h1>
                        <button class="btn btn-primary " ng-if="!isUserLoggedIn()" ng-click="loginModal()">
                            <b> <span
                                    class="glyphicon glyphicon-user"></span> <span>Sign in</span></b>
                        </button>
                        <button class="btn btn-primary " ng-click="logout()" ng-if="isUserLoggedIn()">
                            <b><span class="glyphicon glyphicon-off"></span> <span>Logout</span></b>
                        </button>
                        <button class="btn btn-primary " ng-click="editUser()" ng-if="isUserLoggedIn()">
                            <b><span class="glyphicon glyphicon-cog"></span> <span>Settings</span></b>
                        </button>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="mainForm">
    <div page-Initialize></div>
    <div class="row" id="contentForm" ng-if="!isAppLoading && $root.isUserLoggedIn">
        <div class="col-md-2 hidden-md hidden-sm">
            <div class="row">
            <div class="col-md-12">
                    <div class="panel panel-success">
                        <a class="list-group-item active">
                            <b> <span class="glyphicon glyphicon-user"></span> <span>Ausgabenmanager</span></b>
                        </a>
                        <a href="#ausgabenOverview" class="list-group-item">
                            <span class="glyphicon "></span> Ausgabenübersicht
                        </a>
                        <a href="#ausgabenBericht" class="list-group-item">
                            <span class="glyphicon "></span> Kostenaufstellung
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-success">
                        <a class="list-group-item active">
                            <b> <span class="glyphicon glyphicon-star"></span> <span> Favoriten</span></b>
                        </a>
                        <a href="#favoritenOverview" class="list-group-item">
                            <span class="glyphicon "></span> Meine Favoriten
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-success">
                        <a class="list-group-item active">
                            <b> <span class="glyphicon glyphicon-user"></span> <span> Dateien</span></b>
                        </a>
                        <a href="#fileOverview" class="list-group-item">
                            <span class="glyphicon "></span> Meine Dateien
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10" id="content" ng-if="$root.isUserLoggedIn">
            <div ng-view></div>
        </div>
    </div>
    <div class="row" id="contentNoLogIn" ng-if="!isAppLoading && !$root.isUserLoggedIn">
        <div class="col-md-12">
            <div class="bs-callout bs-info">
                <p>

                <h2>
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                    <span>  Um diese Funktionen nutzen zu können, melden Sie sich bitte an...</span>
                </h2>
                </p>
            </div>
        </div>
    </div>
    <div class="row" id="footer">
        <div class="panel-footer">
            <!--<div class="col-md-12 alert alert-info" ng-include="'../partials/userdetails.html'"></div>-->
        </div>
    </div>
</div>
</body>
</html>